<div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3><b>Login to your account</b></h3>
      </div>
    </div>
    <form [formGroup]="loginForm" id="ff"(ngSubmit)="onSubmit()">
      <input
        required
        formControlName="userName"
        type="text"
        id="userName"
        placeholder="Username"
        formControlName="userName"
        data-cy="username-input"
      />

      <input
        required
        formControlName="passWord"
        type="text"
        id="passWord"
        placeholder="Password"
        formControlName="passWord"
        data-cy="password-input"
      />

      <button type="submit" data-cy="login-button">Log In</button>
      <p class="message">
        Not a member?
        <a routerLink="/register" style="text-decoration: underline" data-cy="register-link"
          >Sign up now</a
        >
      </p>
    </form>
  </div>
</div>
