<mat-tab-group>
  <!-- User Account Information -->
  <mat-tab label="Profile" class="acc">
    <!-- First Name -->
    <p style="margin-top: 40px;">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
    <!-- Last Name -->
    <p>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
    <!-- User -->
    <p>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
    <!-- Password -->
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
    <!-- Email -->
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
    </p>
  </mat-tab>

  <!-- User available giftcard -->
  <mat-tab label="My Wallet">
    <div>
      <mat-form-field class="mt-3">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 25" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Amount column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let card" data-testid="amount-data">{{card.amount}}</td>
          </ng-container>

          <!-- Expiration date column -->
          <ng-container matColumnDef="expirationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiration Date</th>
            <td mat-cell *matCellDef="let card">{{card.expirationDate}}</td>
          </ng-container>

          <!-- UserID column -->
          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Card Number</th>
            <td [attr.data-cy]="card.cardNumber" mat-cell *matCellDef="let card">{{card.cardNumber}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>

          <!-- Pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of cards"></mat-paginator>
        </table>
      </div>
    </div>
  </mat-tab>

  <!-- Filter field -->


  <!-- Add new card to user wallet -->
  <mat-tab label="Add New Card">
    <h3>Please Enter Your Card</h3>
    <!-- Company Name -->
    <p>
      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <!-- Card Number -->
    <p>
      <mat-form-field>
        <mat-label>Card Number</mat-label>
        <input matInput placeholder="Enter your card" />
      </mat-form-field>
    </p>
    <!-- Amount -->
    <p>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="$" />
      </mat-form-field>
    </p>
    <!-- Expiration Date -->
    <p>
      <mat-form-field>
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="Month/Year" />
      </mat-form-field>
    </p>
    <button type="submit" class="btn btn-primary">Add Card</button>
  </mat-tab>
</mat-tab-group>