<div class="signup-page">
  <div class="form">
    <div class="signup">
      <div class="signup-header">
        <h3>Sign Up</h3>
      </div>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="signUpSubmitted()">
      <input
        type="text"
        id="login_username"
        placeholder="First Name"
        formControlName="firstName"
        required
      />

      <input
        type="text"
        placeholder="Last Name"
        required
        formControlName="lastName"
        data-cy="lastName-input"
      />
      <div
        [hidden]="f.lastName.valid"
        *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.firstName.errors?.['required']">
          Please enter your last name.
        </div>
      </div>

      <input
        type="text"
        id="email"
        placeholder="Email"
        required
        formControlName="email"
      />
      <input
        type="text"
        placeholder="Password"
        required
        formControlName="passWord"
        data-cy="password-input"
      />
      <div
        [hidden]="f.passWord.valid"
        *ngIf="f.passWord.invalid && (f.passWord.dirty || f.passWord.touched)"
        class="alert alert-danger"
      >
        Please enter your password.
      </div>

      <div *ngIf="f.passWord.errors?.['minlength']">
        Password should be minimum 6 characters long.
      </div>

      <button type="submit" data-cy="create-button">Create account</button>
      <p class="message" style="font-size: 10px">
        By clicking the Submit,you agree to our
        <a routerLink="/register" style="text-decoration: underline"
          >terms and use</a
        >
        and
        <a href="/register" style="text-decoration: underline"
          >privacy policy</a
        >
      </p>
      <p class="message">
        Already have an account?
        <a
          routerLink="/login"
          style="font-family: var(--grotesk); font-size: 12px"
          data-cy="login-link"
        >
          Log in</a
        >
      </p>
    </form>
  </div>
</div>
